<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <div class="text-center">
            <h3 cass="text-center">{{user.first_name}}, you are purchasing : <strong><em>{{ product.name }}</em></strong></h3>
        </div>
        <form method="post" action="">
            {% csrf_token %}
            <div class="row">

                 <div class="col">
                    <div class="card" style="width: 18rem;">
                        <a href="{{product.image.url}}" class="glightbox card-img-top"><img src="{{product.image.url}}"
                            class="menu-img img-fluid" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title">Name : {{ product.name }}</h5>
                            <p class="card-text">Price : Kshs.{{ product.price }} </p>
                            <p class="card-text">Quantity : {{ order.quantity }}</p>
                            <p class="card-text"><strong><em>About {{ product.name }} :</em></strong></p>
                        </div>
                    </div>
                 </div>

                <div class="col">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" name="address" required>
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                    <a type="button" class="btn btn-dark" href="/">Back</a>
                </div>
            </div>
        </form>

        <div>
            {% for message in messages %}
            <strong>{{message}}</strong>
            {% endfor %}
        </div>
    
    </div>

</body>
</html>
