{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>jb arts</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static 'assets/img/favicon.png' %}" rel="icon">
  <link href=" {% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href=" {% static 'https://fonts.googleapis.com' %}">
  <link rel="preconnect" href=" {% static 'https://fonts.gstatic.com' %}" crossorigin>
  <link
    href=" {% static 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap' %}"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href=" {% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href=" {% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href=" {% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href=" {% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <h1>jb<span><small>ARTS</small></span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#store">Store</a></li>
          <li><a href="#artists">Artists</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      {% if user.is_authenticated %}
      <a class="btn-book-a-table" href="Accounts/signout">Sign Out</a>
      {% else %}
      <a class="btn-book-a-table" href="Accounts/register">Sign Up</a>
      <a class="btn-book-a-table" href="Accounts/signin">Sign In</a>
      {% endif %}
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->

  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          {% if user.is_authenticated %}
              <h1><small>HELLO </small><em><small><strong>{{ user.first_name }},</strong></small></em></h1>
          {% endif %}
          <h1 data-aos="fade-up">Discover art crafted with passion and explore our diverse collection</h1>
          <p data-aos="fade-up" data-aos-delay="100">
            Start your art journey here
          </p>
      </div>
      
        {% for otherImages in otherImages %}
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="{{otherImages.image.url}}" class="img-fluid" alt="" data-aos="zoom-out"
            data-aos-delay="300">
        </div>
        {% endfor %}
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Elevate Your Art Collection with JB ARTS</h3>
              <p>
                At JB ARTS, we are passionate about bringing your creative visions to life.
                Our curated selection of high-quality canvases and unique bottle paintings
                is crafted by skilled artists who pour their heart and soul into every piece.
                Whether you’re an aspiring artist or a seasoned collector,
                we provide the tools and inspiration to elevate your artistic journey.
                Experience unmatched quality, exceptional customer service,
                and a community that celebrates creativity. Choose JB ARTS to transform your space with art that speaks
                to you.
              </p>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-center">
            <div class="row gy-4">

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Canvas Art</h4>
                  <p>Crafted with love, our premium canvases are more than just surfaces; they are the beginnings of
                    dreams,
                    the expressions of emotions, and the reflections of your soul.Our collection features a stunning
                    array of <strong><em> African art</em></strong>,
                    <strong><em>Abstract art</em></strong>, <strong><em>Landscape Paintings</em></strong> and many more.
                  </p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-gem"></i>
                  <h4>Bottle Art</h4>
                  <p>
                    Imbued with personal stories, our bottle art pieces resonate with a profound sense of creativity
                    and passion.Our commitment to <strong><em>environmental conservation</em></strong> is woven into
                    every bottle art creation.
                    By upcycling and repurposing glass bottles, we breathe new life into discarded materials, reducing
                    waste and leaving a positive impact on our planet.
                  </p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-inboxes"></i>
                  <h4><em><strong>CREATIVITY & CONSERVATION</strong></em></h4>
                </div>
              </div><!-- End Icon Box -->
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Why Us Section -->



    <!-- ======= STORE SECTION ======= -->


    <section id="store" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Pieces</h2>
          <p>Check Out <span>Our Store</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
              <h4>Canvas Paintings</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
              <h4>Bottle Paintings</h4>
            </a><!-- End tab nav item -->

        </ul>


        <!-- CANVAS PAINTINGS -->


        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">
              <h3>Canvas Paintings</h3>
            </div>

            <div class="row gy-5">

              <!-- PRODUCTS -->
              <!-- for loop -->

              {% for canvas in canvas %}
              <div class="col-lg-4 menu-item">
                <a href="{{canvas.image.url}}" class="glightbox"><img src="{{canvas.image.url}}"
                    class="menu-img img-fluid" alt=""></a>
                <h4>{{canvas.name}}</h4>
                <p class="ingredients">
                  {{canvas.description}}
                </p>
                <p class="price">
                  Kshs. {{canvas.price}}
                </p>
              </div>
              {% endfor %}
            </div>
          </div>


          <!-- BOTTLE PAINTINGS -->
          <div class="tab-pane fade" id="menu-breakfast">

            <div class="tab-header text-center">
              <h3>Bottle Paintings</h3>
            </div>

            <div class="row gy-5">
              <!-- BOTTLES -->
              <!-- LOOP -->
              {% for bottle in bottle %}
              <div class="col-lg-4 menu-item">
                <a href="{{bottle.image.url}}" class="glightbox"><img src="{{bottle.image.url}}"
                    class="menu-img img-fluid" alt=""></a>
                <h4>{{bottle.name}}</h4>
                <p class="ingredients">
                  {{bottle.description}}
                </p>
                <p class="price">
                  Kshs. {{bottle.price}}
                </p>
              </div><!-- Menu Item -->
              {% endfor %}
            </div>
          </div><!-- End Bottle Paintings Content -->

        </div>

      </div>
    </section><!-- End Menu Section -->


    <!-- ======= TESTIMONIALS SECTION ======= -->

    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>From Our <span>Esteemed Clients</span></p>
        </div>
        <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for testimonial in testimonial %}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        {{testimonial.testimonial}}
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>{{testimonial.name}}</h3>
                      <h4>{{testimonial.description}}</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{{testimonial.image.url}}" class="img-fluid testimonial-img" alt="img">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= ARTISTS SECTION ======= -->

    <section id="artists" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>JB ARTS PRESENTS</h2>
          <p>The <span>Gifted</span> Painters</p>
        </div>

        <div class="row gy-4">
          {% for artist in artist %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="chef-member">
              <div class="member-img">
                <img src="{{artist.image.url}}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://x.com/jbartske?t=3AOzni0K3-QMEgeoa8bhUw&s=09"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.instagram.com/jbarts___/"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{artist.name}}</h4>
                <span>{{artist.title}}</span>
                <p>{{artist.description}}</p>
              </div>
              <a class="btn-book-a-table" href="">Learn More About {{artist.name}}</a>
            </div>
          </div><!-- End The Artist -->
          {% endfor %}
        </div>

      </div>
    </section><!-- End Artists Section -->


    <!-- ======= PLACE YOUR COMMISSION ======= -->

    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Place Your Commission</h2>
          <p>Request For <span>The Artwork</span> Of Your Choice</p>
        </div>

        <div class="row g-0">

          <div class="col-lg-4 reservation-img" style="background-image: url('My Works/BottleCollection.jpg');"
            data-aos="zoom-out" data-aos-delay="200"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
            <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up"
              data-aos-delay="100">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="number" class="form-control" name="people" id="people" placeholder="# of people"
                    data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your commission request was sent. We will call back or send an Email to
                  confirm your request. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Make Your Order</button></div>
            </form>
          </div><!-- End Commission Form -->

        </div>

      </div>
    </section><!--End Place Your Commission Section-->



    <!-- ======= GALLERY SECTION ======= -->

    <section id="gallery" class="gallery section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Gallery</h2>
          <p>You'll <span>Like It Here</span></p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            {% for gall in gall %}
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                href="{{ gall.image.url }}"><img src="{{ gall.image.url }}" class="img-fluid" alt=""></a></div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->


    <!-- ======= CONTACT SECTION ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Talk <span>To Us</span></p>
        </div>
        <div class="row gy-4">
          <!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email </h3>
                <p>josephbarasa622@gmail.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call </h3>
                <p>+254 790463858</p>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form action="forms/contact.php" method="post" role="form" class="php-email-form p-3 p-md-4">
          <div class="row">
            <div class="col-xl-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-xl-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form><!--End Contact Form -->

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <div class="copyright">
            &copy; <strong><span>JB ARTS</span></strong><br>
            <small>Thankyou For Visiting Our Store.</small>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Commissions</h4>
            <p>
              <strong>Phone:</strong> +254 790463858<br>
              <strong>Email:</strong> josephbarasa622@gmail.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="https://x.com/jbartske?t=3AOzni0K3-QMEgeoa8bhUw&s=09" class="twitter"><i
                class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/jbarts___/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>JB ARTS</span></strong><br> All Rights Reserved
      </div>
      <div class="credits">
        Designed by<a href="https://bootstrapmade.com/"> <strong>THE JB ARTS DEVELOPERS & ALIANDA</strong></a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>