              <!-- PRODUCT2 -->
              <div class="col-lg-4 menu-item">
                <a href="{% static 'SAM ARTWORKS/ABSTRACT1.webp' %}" class="glightbox"><img src="{% static 'SAM ARTWORKS/ABSTRACT1.webp' %}" class="menu-img img-fluid" alt=""></a>
                <h4>{{product2.name}}</h4>
                <p class="ingredients">
                  {{product2.description}}
                </p>
                <p class="price">
                  Kshs. {{product2.price}}
                </p>
              </div>
              <!-- PRODUCT3 -->
              <div class="col-lg-4 menu-item">
                <a href="{% static 'SAM ARTWORKS/ABSTRACT1.webp' %}" class="menu-img img-fluid" alt="" class="glightbox"><img src="{% static 'SAM ARTWORKS/ABSTRACT1.webp' %}" class="menu-img img-fluid" alt=""></a>
                <h4>{{product3.name}}</h4>
                <p class="ingredients">
                  {{product3.description}}
                </p>
                <p class="price">
                  Kshs. {{product3.price}}
                </p>
              </div>
              <!-- PRODUCT4 -->
              <div class="col-lg-4 menu-item">
                <a href="{% static 'My Works/MountainLandscape2.jpg' %}" class="glightbox"><img src="{% static 'My Works/MountainLandscape2.jpg' %}" class="menu-img img-fluid" alt=""></a>
                <h4>{{product4.name}}</h4>
                <p class="ingredients">
                  {{product4.description}}
                </p>
                <p class="price">
                  Kshs. {{product4.price}}
                </p>
              </div>
              <!-- PRODUCT5 -->
              <div class="col-lg-4 menu-item">
                <a href="{% static 'SAM ARTWORKS/ABSTRACT2.webp' %}" class="glightbox"><img src="{% static 'SAM ARTWORKS/ABSTRACT2.webp' %}" class="menu-img img-fluid" alt=""></a>
                <h4>{{product5.name}}</h4>
                <p class="ingredients">
                  {{product5.description}}
                </p>
                <p class="price">
                  Kshs. {{product5.price}}
                </p>
              </div>
              <!-- PRODUCT6 -->
              <div class="col-lg-4 menu-item">
                <a href="{% static 'SAM ARTWORKS/ABSTRACT1.webp' %}" class="glightbox"><img src="{% static 'SAM ARTWORKS/ABSTRACT1.webp' %}" class="menu-img img-fluid" alt=""></a>
                <h4>{{product6.name}}</h4>
                <p class="ingredients">
                  {{product6.description}}
                </p>
                <p class="price">
                  Kshs. {{product6.price}}
                </p>
              </div>